Package: com.haoict.xgesture
Name: XGesture
Depends: mobilesubstrate, firmware (>= 12)
Version: 0.0.1
Architecture: iphoneos-arm
Description: iPhone X gestures for iPhone 5-8, minimalist code to not affect battery
Maintainer: Hao Nguyen
Author: Hao Nguyen
Section: Tweaks
