Package: com.haoict.xgesture
Name: XGesture
Depends: mobilesubstrate, firmware (>= 15.0)
Version: 0.0.1
Architecture: iphoneos-arm64
Description: iPhone X gestures for iPhone 5-8 on iOS 15 rootless
Maintainer: Hao Nguyen
Author: Hao Nguyen
Section: Tweaks
